body {
    background-color: #ebf1f5;
    color: #373a3c;
}

.expose {
    background-color: #ebf1f5;
}

.navbar-default {
    background-color: #385a4f;
    border-color: #284139;
}

.navbar-toggle {
    color: #fff;
}

.navbar-toggle:hover {
    color: #385a4f;
}

.panel {
    border: 1px solid #d3d8dc;
    border-radius: 0;
}

.panel h3.panel-heading {
    border-bottom: 1px solid #d3d8dc;
    color: #fff;
    background-color: #385a4f;
    padding: 10px 15px;
}

.panel .panel.wallpost {
    border-left: none;
    border-right: none;
}

#lastminutes {
    display: none;
}

.panel-heading span.help .icon {
    color: #fff;
}

#loading-box {
    color: #fff;
}

.panel .no-heading .block-container {
    margin: 10px 15px;
}

.bt-groupviews .block {
    padding-left: 15px;
    padding-right: 15px;
}

.bt-groupviews .block .list-group {
    margin-left: -15px;
    margin-right: -15px;
}

.bt-groupviews .block hr {
    margin-left: -15px;
    margin-right: -15px;
    border-top-color: #ddd;
}